.class_1 {
	background-color: #B4E5FF !important;
}

.class_2 {
	background-color: #FFD663 !important;
}

.class_3 {
	background-color: #E76363 !important;
}

.class_4 {
	background-color: #C67BA5 !important;
}

.class_5 {
	background-color: #E76363 !important;
}

.class_6 {
	background-color: #E76363 !important;
}

.class_7 {
	background-color: #E76363 !important;
}

.class_8 {
	background-color: #E76363 !important;
}

.class_9 {
	background-color: #E76363 !important;
}

.class_0 {
	background-color: #E76363 !important;
}

